@model YourTutor.Application.ViewModels.OffertDetailsVm

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/offert/offert.css" />

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-lg-6">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Subject)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price) zł/h
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-4">
                Remotely
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IsRemotely)
            </dd>
            <dt class="col-sm-4">
                Name
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-sm-4">
                Speaking language
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SpeakingLanguage)
            </dd>
        </div>
        <div class="col-lg-6 offert-details-group"><img class="offert-details-picture" src="~/img/tutor/detailsPicture.png" alt="picture" /></div>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.OffertId">Delete</a>
</div>
