@model YourTutor.Application.ViewModels.SmallOffertsListViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                OffertId
            </th>
            <th>
                Subject
            </th>
            <th>
                Price
            </th>
            <th>
                Location
            </th>
            <th>
                IsRemotely
            </th>
            <th>
                FullName
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PaginationResponse.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OffertId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRemotely)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.OffertId }) 
            </td>
        </tr>
}
    </tbody>
</table>
