@model YourTutor.Application.ViewModels.SmallOffersListViewModel;

@{
    ViewData["Title"] = "Offers";
}

<h1>Find the right <span class="tutor-text">offer</span> for you!!!</h1>


<link rel="stylesheet" href="~/css/offer/offer.css" />

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="row card-row">
    @foreach (var item in Model.PaginationResponse.Items)
    {       
        <div class="card offer-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Subject</h5>
                <p class="card-text">Prowadzę zajęcia w miłej atmosferze, moim zadaniem jest abyś na zajęciach czuł się jak w domu</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item fullName">@item.FullName</li>
                <li class="list-group-item">@item.Price zł/h</li>
                @{
                    string location = item.IsRemotely is true ? "Remotely" : item.Location;
                    <li class="list-group-item">@location</li>
                }               
            </ul>
            <div class="card-body">
                <a class="btn card-btn" asp-action="Details" asp-controller="Offer" asp-route-id="@item.OfferId">Details</a>
            </div>
        </div>
    }
</div>
